*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(149, 230, 201);
    display: flex;
}

@media screen and (min-width: 992px) {
    .container{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }  
}

.pokedex-grid{
    width: 300px;
    height: 550px;
    border-radius: 20px;
    background-color: #fff;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 230px 50px 80px 80px 100px ;
}

@media screen and (min-width: 380px) {
    .pokedex-grid{
    grid-template-columns: 1fr;
    }
}

.item-um-cabecalho{
    width: 100%;
    height: 230px;
    background-color: #d0f6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.item-um-cabecalho img{
    height: 70%;
    width: 70%;
}

.item-dois-tipos{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
    align-items: center;
}

.item-dois-tipos .tipos{
    display: flex;
    gap: 10px;
}

.normal {background-color: #a6a877;} 
.grass{background-color: #77c85e;}  
.fire {background-color: #ee7f30;} 
.water {background-color:#678fee;} 
.electric{background-color: #f7cf2e;} 
.ice {background-color: #98d5d7;} 
.ground {background-color:  #dfbf69;}
.flying {background-color: #a98ff5;} 
.poison {background-color: #a040a0;} 
.fighting {background-color: #bf3029;} 
.psychic {background-color:#f65687;} 
.dark {background-color: #725847;} 
.rock {background-color: #b8a137;} 
.bug {background-color: #a8b720;} 
.ghost {background-color: #6e5896;} 
.steel {background-color: #b9b7cf;} 
.dragon {background-color: #6f38f6;} 
.fairy {background-color: #f9aec7;} 

.item-dois-tipos .tipos li{
    color: #000;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1em;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-transform: capitalize;
}

.item-tres{
    text-align: left;
    margin: 0 10px 0 10px;
}

.item-quatro{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    justify-content: left;
}

.item-quatro ol{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: auto;
}

.item-quatro ol li{
    color: #000;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1em;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-transform: capitalize;
}

.item-cinco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px 0 10px;
}

.item-cinco ol{
    display: flex;
    gap: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.item-cinco ol li{
    height: 40px;
    width: 40px;
    background-color: #aee09f;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1.3);
    text-transform: capitalize;
}

.item-cinco .seta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-cinco ol li img{
    height: 40px;
    width: 40px;
}